*{
    margin: 10;
    padding:0;
     box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: centre ;
    align-items: right;
    background-color: gray;
    position: sticky;
    top: 0;
}

body{
    background-color:#ffd966;
}
h1 {
text-align:left;
}

p {
font-family: verdana;
font-size: 20px;
}
h2 {
color:black;
text-align:center;
}
p {
font-family: verdana;
font-size: 20px;

}

.headerTextLeft {
    font-family:cursive;
    margin: 20px 0px 5px 20px;
    float: left!important;
}

.headerTextRight {
    font-family:monospace!important;
    margin: 20px 0px 5px 20px;
    float: right!important;
}
img {
  border-radius: 50%;
}

.table {
    display: table;
    width: 100%;
  }
  .tr {
    display: table-row;
    width: 100%;
  }

  .gradeInfo{
    text-align:center; 
    border: 5px solid antiquewhite;
    height: 35px; 
    background-color: antiquewhite;
  }
  .movingtag{
    behavior: unset;
    direction: ltr;
    border: 5px solid antiquewhite;
    height: 35px;
    background-color: antiquewhite;
    font-size: 22px;
    
    
  }
  .SecMarks{
    font-size:20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px 0px 5px 20px;

  }
.HigherSecMarks{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px 0px 5px 20px;
 
}
.GraduationMarks{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px 0px 5px 20px;

}
.Skill{
  text-align:center; 
    border: 5px solid antiquewhite;
    height: 35px; 
    background-color: antiquewhite;
  }
  .Cd{
    font-size: 18px;
    font-family:fantasy;
    margin: 20px 0px 5px 20px;

  }
  .Pro{
    font-size: 18px;
    font-family:fantasy;
    margin: 20px 0px 5px 20px;


  }
  .Pj{
    text-align:center; 
    border: 5px solid antiquewhite;
    height: 35px; 
    background-color: antiquewhite;
  }
  
 
  